
body{background: white;}


p{background: white;}

header {
  background: #AAE8CD;
  min-height: 20vh;
  padding: 1em;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer li{
  background: #AAE8CD;
  display: flex;
  left:25%;
}

footer a {
  text-decoration: none;
  padding: 12px;
  display: block;
  z-index: 61;
}

header li {
  display: flex;
  left:10%;
  z-index: 60;
}

header a {
  text-decoration: none;
  padding: 6px;
  display: block;
}

.content {
  width: 100px;
  align-items: center;
  padding: 20px;
}


p{
padding: 2em;
background-color: white;
}

h2  {
  padding: 1em

}

h4  {
  padding: 1em

}

section {
background-size: contain;
background-image:url(images/tirets.svg);
margin:0;
}

.step01{
  z-index: 30;
}

.step02{
  border-top : 2px
  position: absolute;
  top:10%;
  z-index: 50;
  bottom: 50%;
}

.step03{
  position: absolute;
  top:50%;
  z-index: 40;
}

.step {
  border-top : 2px
  background: #fff;
  min-height: 100vh;
  position: relative;
}

.step04 {
  background: #AAE8CD;
}

.step06 {
  background: #AAE8CD;
}

.displayed02 {
  position: relative;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
}

h6{
  display: block;
  align:center;
  padding-left: 35%;
  padding: 1em;
}

.step h1 {
  font-size: 25em;
  font-weight: bold;
  color : #FFC236;
  position: absolute;
  top : 30%;
  left : 10%;
}

figure {
  background: #BEDDBB;
  max-width: 300px;
  border-radius: 100%;
  padding: 2em;
  position: absolute;
  top : 40%;
  right : 15%;
}

video {
position: absolute;
display: flex;
left: 8%;
padding: 2em;
width: 80%;

}

#fond02 {
width: 60%;
height: 60;
position: absolute;
}

.displayed03 {
  width: 110%;
  position: absolute;
  right: 20%;
  left: 20%
}

#fond {
width: 180%;
height: 180%;
position: absolute;
top: 0px;
right: 30%;
z-index: 0;
}
.stretch {
width:180%;
height:180%;
}

.step-content {
  background: #AAE8CD;
  max-width: 420px;
  position: absolute;
  top : 40%;
  right : 40%;
}


figure img {
  width: 220px;
  border: 2px solid white;
  border-radius: 100%;
}



/*
.product-list ul {
display: flex;
flex-wrap: wrap;
justify-content:space-around;
}

.product-list li {
border: 1px;
flex-basis: 220px;
} */
