@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto|Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kadwa&display=swap');

header h1 {
font-family: 'Pacifico';
font-size: 3em;
color: white;
}

li{
font-family: 'Kadwa';
color: white;
font-size: 20px;
}

footer li{
  font-family: 'Kadwa';
  color: white;
  font-size: 20px;
}

h1 {
  font-family: 'Kadwa';
font-weight: bold;
}


h2 {
  font-family: 'Pacifico';
  font-size: 2em;
  color: white;
}

h4 {
  font-family: 'Pacifico';
  font-size: 2em;
}

h6{
  font-family: 'Pacifico';
  font-size: 4em;
  color: white;
}
p {
font-family: 'Roboto';

}
